.aboutPage .aboutLanding {
    @apply gap-[40px] grid mb-4;
    grid-template-columns: 1fr 2fr;
}

@media (width <= 667px) {
    .aboutPage .aboutLanding {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    @apply max-w-[100svh];
    gap: 0
    }
}

.aboutPage .image {
    @apply basis-1/2;
}

.aboutPage .commonTitle:nth-child(3) {
    @apply justify-start text-xl;
    
}

/* ------------text------------------ */
.aboutPage .aboutLanding .text {
    @apply flex flex-col gap-[1rem] text-gray-500 leading-[1.3] text-sm justify-center;
}

.aboutPage .aboutLanding .text h1 {
    @apply capitalize text-[1rem] font-semibold text-black;
}

.aboutPage .title:nth-child(3) {
    @apply flex-row justify-start pl-0 mb-0;
}

.aboutPage .title:nth-child(3) span {
    @apply text-[18px];
}

/* --------------------reasons----------------- */
.aboutPage .reasons {
    @apply flex justify-between;
}

@media (width <= 667px) {
    .aboutPage .reasons {
    @apply flex-col;
    }
}

.aboutPage .reasons .reason {
    @apply p-[3.5rem] border border-[#eee] text-[15px] transition duration-[.3s] 
    transition-all text-gray-600 hover:text-white hover:bg-onHoverColor cursor-pointer;
}

.aboutPage .reasons .reason h2 {
    @apply mb-[1rem] text-[14px] font-bold uppercase;
}

.aboutPage .reasons .reason p {
    @apply text-[0.875rem] leading-[1.4];
}


/* ------------------- */
.aboutPage .aboutPart2 {
    @apply my-[100px] text-center;
}

.aboutPage .aboutPart2 h2 {
    @apply text-[25px] font-semibold text-[rgb(31,41,55)];
}

.aboutPage .aboutPart2 p {
    @apply my-[15px] mb-[30px] leading-[1.2] text-[rgb(156,163,175)];
}

.aboutPage .aboutPart2 .subscribe {
    @apply flex max-w-[50%] mx-auto;
}

@media (width <= 640px) {
    .aboutPage .aboutPart2 .subscribe {
    @apply max-w-full;
    }
}

.aboutPage .aboutPart2 .subscribe input {
    @apply px-[20px] py-[15px] border border-[grey] outline-none w-full;
}

.aboutPage .aboutPart2 .subscribe input::placeholder {
    @apply text-[13px] font-normal;
}

.aboutPage .aboutPart2 .subscribe button {
    @apply bg-black text-white px-[20px] py-[18px] uppercase text-[14px];
}