.profile .picture {
    max-width: 150px;
}

.profile .name {
    margin: 1rem 0;
    padding: 12px 0;
    border-bottom: 1px solid gray;
}

.profile .name h1 {
    font-size: 1.875rem;
    font-weight: 500;
}

.profile .name input {
    font-size: 1.875rem;
    font-weight: 500;
}

.profile .infoTitle h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 14px;
    color: rgb(75 85 99);
    margin: .875rem 0;
}

.profile .infoTitle .data {
    display: flex;
    gap: 24px;
    margin-top: 5px;
}

.profile label {
    text-transform: capitalize;
    font-size: .875rem;
    font-weight: 500;
    color: rgb(84, 84, 84);
    margin-right: 24px;
}

.profile p,
.profile .gender select,
.profile .gender select option,
.profile .birthday input {
    color: rgb(107 114 128);
}

/* email field */

.profile .contactInfo .email p {
    color: rgb(95 111 255 );
}

/* phone field */

.profile .contactInfo .phone {
    margin: 5px 0;
}

.profile .contactInfo .phone p {
    color: rgb(95 111 255 );
}

/* ----------buttons---------- */

.profile button {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgb(95 111 255 );
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    transition: .3s;
    margin-top: 2rem;
}

.profile button:hover {
    color: white;
    background-color: rgb(95 111 255 );
}



